


#section01{
    height: 968px;
    background: #111111;
    overflow: initial;
}


#section01 .main_txt01{
    position: absolute;
    left: 143px;
    top: 50px;
    opacity: 0;
    transform: translatey(-30px);
    animation: move 1s 1 forwards 1s;
}

#section01 .main_txt02{
    position: absolute;
    right: 143px;
    top: 50px;
    opacity: 0;
    transform: translatey(30px);
    animation: move 1s 1 forwards 1s;
}

@keyframes move{
    from{

        opacity: 0;
        transform: translatey(30px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

#section01 .main_txt03{
    position: absolute;
    left: 179px;
    top: 610px;
    z-index: 100;
}

#section01 .main_txt03 {
    transform: translateY(30px);
    opacity: 0;
    transition: all 1.5s;
}


#section01.on .main_txt03 {
    transform: translateY(0);
    opacity: 1;
}


#section02{
    height: 823px;
    background: #111111;
}

#section02 .sec02_txt01{
    position: absolute;
    left: 0;
    top: 309px;
}


#section02 .sec02_txt01 {
    transform: translatex(-30px);
    opacity: 0;
    transition: all 1.5s;
}


#section02.on .sec02_txt01 {
    transform: translatex(0);
    opacity: 1;
}

#section03{
    height: 1823px;
    background: white;
}

#section03 .sec03_txt{
    position: absolute;
    left: 121px;
    top: 146px;
}


#section03 .sec03_img{
    position: absolute;
    left: 329px;
    top: 340px;
}

#section04{
    height: 5901px;
}

#section04 .sec04_txt01{
    position: absolute;
    left: 109px;
    top: 315px;
}

#section04 .sec04_txt01 {
    transform: translatex(-30px);
    opacity: 0;
    transition: all 1s;
}


#section04 .sec04_txt01.on {
    transform: translate(0);
    opacity: 1;
}



#section04 .sec04_txt02{
    position: absolute;
    right: 159px;
    top: 824px;
}

#section04 .sec04_txt02 {
    transform: translatex(-30px);
    opacity: 0;
    transition: all 1s;
}


#section04 .sec04_txt02.on {
    transform: translate(0);
    opacity: 1;
}


#section04 .sec04_txt03{
    position: absolute;
    right: 159px;
    top: 1313px;
}


#section04 .sec04_txt03 {
    transform: translatex(-30px);
    opacity: 0;
    transition: all 1s;
}


#section04 .sec04_txt03.on {
    transform: translate(0);
    opacity: 1;
}


#section04 .sec04_txt04{
    position: absolute;
    right: 159px;
    top: 2374px;
}


#section04 .sec04_txt04 {
    transform: translatex(-30px);
    opacity: 0;
    transition: all 1s;
}


#section04 .sec04_txt04.on {
    transform: translate(0);
    opacity: 1;
}


#section04 .sec04_txt05{
    position: absolute;
    right: 159px;
    bottom: 2071px;
}


#section04 .sec04_txt05 {
    transform: translatex(-30px);
    opacity: 0;
    transition: all 1s;
}


#section04 .sec04_txt05.on {
    transform: translate(0);
    opacity: 1;
}


#section04 .sec04_txt06{
    position: absolute;
    right: 159px;
    bottom: 1033px;
}


#section04 .sec04_txt06 {
    transform: translatex(-30px);
    opacity: 0;
    transition: all 1s;
}


#section04 .sec04_txt06.on {
    transform: translate(0);
    opacity: 1;
}

#section04 .sec04_txt07{
    position: absolute;
    right: 159px;
    bottom: 228px;
}


#section04 .sec04_txt07 {
    transform: translatex(-30px);
    opacity: 0;
    transition: all 1s;
}


#section04 .sec04_txt07.on {
    transform: translate(0);
    opacity: 1;
}


#section05{
    height: 2809px;
    background: white;
}

#section05 .sec05_img01{
    position: absolute;
    left: 98px;
    top: 488px;
}


#section05 .sec05_img01 {
    transform: translatex(-30px);
    opacity: 0;
    transition: all 1s;
}


#section05 .sec05_img01.on {
    transform: translate(0);
    opacity: 1;
}


#section05 .sec05_img02{
    position: absolute;
    right: 113px;
    bottom: 154px;
}


#section05 .sec05_img02 {
    transform: translatex(30px);
    opacity: 0;
    transition: all 1s;
}


#section05 .sec05_img02.on {
    transform: translate(0);
    opacity: 1;
}


#section06{
    height: 902px;
    background: black;
}

#section06 .sec06_img{
    position: absolute;
    right: 160px;
    bottom: 28px;
}

#section06 .sec06_txtbox{
    width: 585px;
    height: 32px;
    position: absolute;
    left: 132px;
    top: 108px;
    display: flex;
    justify-content: space-between;
}

#section06 .sec06_txt01{
    position: absolute;
    left: 167px;
    top: 339px;
}

#section06 .sec06_txt02{
    position: absolute;
    left: 160px;
    top: 431px;
}

#section06 .sec06_txt03{
    position: absolute;
    left: 162px;
    top: 652px;
}

#section06 .next_box > div{
    transform: translateY(30px);
    opacity: 0;
    transition: all 1s;
}


#section06.on .next_box > div{
    transform: translateY(0);
    opacity: 1;
}

#section06 .next_box > div:nth-child(1){transition-delay:0.2s}
#section06 .next_box > div:nth-child(2){transition-delay:0.4s}
#section06 .next_box > div:nth-child(3){transition-delay:0.6s}

